<app-title title="Auction details"></app-title>
<div *ngIf="auction && auction.Auction">
    <md-card>
        <md-card-header>Auction by: {{auction.Auction.Owner}}, created: {{auction.Auction.CreationDate}}, end date: {{auction.Auction.EndDate}}</md-card-header>
        <md-card-content>
            <p>CloseDate: {{auction.Auction.CloseDate}}</p>
            <p>{{auction.Auction.Description}}</p>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" (click)="goToOffer()">Create offer</button>
            <button md-raised-button color="accent" (click)="editAuction()">Edit auction</button>
            <button md-raised-button color="accent" (click)="closeAuction()">Close auction</button>
        </md-card-actions>
    </md-card>
    <app-offer-list [auction]="auction"></app-offer-list>
</div>