<app-title title="Create offer"></app-title>
<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <md-input-container>
                <textarea mdInput placeholder="Comment" [(ngModel)]="model.Comment" rows="5" [formControl]="form.controls['Comment']"></textarea>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Quantity" type="number" [(ngModel)]="model.Quantity" [formControl]="form.controls['Quantity']">
            </md-input-container>
        </div>
        <div>
            <h3 class="label">Currency</h3>
        </div>
        <div>
            <md-radio-group class="radio-group" [(ngModel)]="model.CurrencyType" [formControl]="form.controls['CurrencyType']">
                <md-radio-button class="radio-button" *ngFor="let currency of currencies" [value]="currency.Value">
                    {{currency.Name}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>