<app-title title="Register"></app-title>
<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <md-input-container>
                <input mdInput placeholder="User name" type="text" [(ngModel)]="model.Username" [formControl]="form.controls['Username']">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="E-mail" type="email" [(ngModel)]="model.Email" [formControl]="form.controls['Email']">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Password" type="password" [(ngModel)]="model.Password" [formControl]="form.controls['Password']">
            </md-input-container>
        </div>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>