<hr>
<md-card>
    <md-card-header>Auction by: {{auction.Owner}}, created: {{auction.CreationDate}}, end date: {{auction.EndDate}}</md-card-header>
    <md-card-content>
        {{auction.Description}}
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="accent" (click)="goToDetail()">View Details</button>
    </md-card-actions>
</md-card>