/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.label {
    font-size: 0.75em;
    color: rgba(0, 0, 0, .38);
    font-weight: normal;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.logo {
    background: url('assets/yameo_logo.png') left top no-repeat;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px 0 0 280px;
    height: 60px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, .18);
}