<app-title title="Offers"></app-title>
<div *ngFor="let offer of auction.Offers">
    <md-card>
        <md-card-header>Offer by: {{offer.Owner}}, date: {{offer.CreationDate}}</md-card-header>
        <md-card-content>
            <ul>
                <li>Quantity: {{offer.Quantity}}</li>
                <li>CurrencyType: {{offer.CurrencyType}}</li>
                <li>Comment: {{offer.Comment}}</li>
            </ul>
        </md-card-content>
        <md-card-actions *ngIf="isOwnerAuction()">
            <button md-raised-button color="primary" (click)="selectOffer(offer)">Select offer</button>
        </md-card-actions>
    </md-card>
</div>