<app-title title="Create auction"></app-title>
<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <md-input-container>
                <textarea mdInput placeholder="Description" [(ngModel)]="model.Description" rows="5" [formControl]="form.controls['Description']"></textarea>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="End date" type="date" required [(ngModel)]="model.EndDate" [formControl]="form.controls['EndDate']">
            </md-input-container>
        </div>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>