<div class="logo">
    Oddam za flaszkę
</div>
<button md-button color="primary" [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
    <ng-template ngFor let-link [ngForOf]="links">
        <a routerLink="{{link.Route}}" md-menu-item *ngIf="link.visible(authenticationService.isAuthenticated())">{{link.Name}}</a>
    </ng-template>
</md-menu>
<div *ngIf="authenticationService.isAuthenticated()">
    <!-- TODO: add logout button -->
</div>
<ng-template ngFor let-message [ngForOf]="messages">
    <md-card *ngIf="message.ExpiresDate>current_date">
        <div *ngIf="message.Success; then messageSuccess else messageError"></div>
        <ng-template #messageSuccess>Success: {{ message.Message }}</ng-template>
        <ng-template #messageError>Error: {{ message.Message }}</ng-template>
    </md-card>
</ng-template>
<router-outlet></router-outlet>