<app-title title="My auctions"></app-title>
<button md-raised-button color="primary" (click)="goToCreate()">Create new auction</button>
<ng-template ngFor let-auction [ngForOf]="auctions">
    <app-auction [auction]="auction"></app-auction>
</ng-template>